.menu-bar {
    -fx-background-color: #000000; /* Background color */
    -fx-padding: 7px;
}

.menu-bar .label {
    -fx-text-fill: #ffffff; /* White text color for menu bar items */
    -fx-font-size: 18px; /* Font size */
}

.menu-bar .menu {
    -fx-padding: 0 25px 0 15px; /* Adds padding around each menu */
}

.context-menu {
    -fx-background-color: #333333; /* Background color for dropdown menu */
}
